ul.ui-autocomplete {
	background: white;
	border: 1px solid #ddd;
	padding: 5px;
	width: 300px!important;
	list-style-type: none;
	cursor: pointer;
}

div#cmb2-metabox-wpst_show_metabox ul.cmb2-radio-list {
	list-style-type: none;
}

.wpst-stats-for-user-table .progress-bar-wrapper {
	width: 100%;
	height: 25px;
	position: relative;
}

.wpst-stats-for-user-table .count {
	width: 100%;
	height: 25px;
	margin: 0 auto;
	line-height: 25px;
	color: #ffffff;
	font-weight: bold;
	position: absolute;
	z-index: 1;
	text-align: center;
}
.wpst-stats-for-user-table .progress {
	background: #555555;
	position: relative;
	width: 100%;
	height: 25px;
}

.wpst-stats-for-user-table .progress > span.progress-bar {
	background: red;
	position: relative;
	height: 25px;
	display: block;
	overflow: hidden;
}